# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Backend uploads & data
backend/uploads/
backend/*.log
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend cache
frontend/assets/barcodes/
*.tmp